
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Ask Pupkin{% endblock %}</title>
</head>
<body>
  <header>
    <h1><a href="/">Ask Pupkin</a></h1>
    <h2>Ask me.</h2>
  </header>
  <div>
    {% block content %}{% endblock %}
  </div>
  <div>
    {% block question_ask %}{% endblock %}
  </div>
  <div style="float: right;">
    {% block sidebar %}
      <h2>Navigation</h2>
      <p><a href="/">Home</a></p>
      <p><a href="/popular/">Popular</a></p>
      <p><a href="/ask/">Ask Question</a></p>
      <p><a href="/login/">Log In</a></p>
      <p><a href="/signup/">Sign Up</a></p>
      <p><a href="/logout/">Log Out</a></p>
    {% endblock %}
  </div>
  <footer>
  </footer>
</body>
</html>